.vs/
.vs/GXTStudio/CopilotIndices/17.14.1368.60722/CodeChunks.db
.vs/GXTStudio/CopilotIndices/17.14.1368.60722/CodeChunks.db-shm
.vs/GXTStudio/CopilotIndices/17.14.1368.60722/CodeChunks.db-wal
.vs/GXTStudio/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
.vs/GXTStudio/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-shm
.vs/GXTStudio/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-wal
.vs/GXTStudio/FileContentIndex/7aecf94d-006d-4a07-980c-9a187858c021.vsidx
.vs/GXTStudio/FileContentIndex/80f0f6a4-855a-4dff-94a2-087218719c98.vsidx
.vs/GXTStudio/FileContentIndex/8bba7944-31ce-4fc3-9dd5-ae41130b8ee3.vsidx
.vs/GXTStudio/FileContentIndex/b27dbd4e-9bfb-4cbb-9640-4456ffcb03c0.vsidx
.vs/GXTStudio/FileContentIndex/dcd764fe-8854-4488-b3a0-b7060a28d421.vsidx
.vs/GXTStudio/v17/.wsuo
.vs/GXTStudio/v17/Browse.VC.db
.vs/GXTStudio/v17/Browse.VC.db-shm
.vs/GXTStudio/v17/Browse.VC.db-wal
.vs/GXTStudio/v17/Browse.VC.opendb
.vs/GXTStudio/v17/DocumentLayout.backup.json
.vs/GXTStudio/v17/DocumentLayout.json
.vs/GXTStudio/v17/ipch/AutoPCH/3f082b389fea26b1/MAIN.ipch
.vs/GXTStudio/v17/ipch/AutoPCH/5e89f8af0ef0334f/MAIN.ipch
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/GXTStudio/FileContentIndex/76eb1bbc-8555-4afa-a8e9-83ecec73f0f0.vsidx
.vs/VSWorkspaceState.json
.vs/GXTStudio/FileContentIndex/99954dc2-9fe2-4b59-b8aa-b178363b9bd9.vsidx
out/build/debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/debug/.cmake/api/v1/query/client-vscode/query.json
out/build/debug/.cmake/api/v1/reply/cache-v2-632f5fd8c3c5f52234c8.json
out/build/debug/.cmake/api/v1/reply/cmakeFiles-v1-23a178b639fa35de1580.json
out/build/debug/.cmake/api/v1/reply/codemodel-v2-9930e907e0e492c63c33.json
out/build/debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
out/build/debug/.cmake/api/v1/reply/index-2026-01-04T16-01-39-0710.json
out/build/debug/.cmake/api/v1/reply/target-GXTStudio-Debug-27a8f1a6ebe46f19c1ac.json
out/build/debug/.cmake/api/v1/reply/target-GXTStudio_autogen-Debug-23ed3c7028790288b5d5.json
out/build/debug/.cmake/api/v1/reply/target-GXTStudio_autogen_timestamp_deps-Debug-b8deeb31e669d8b1f5ca.json
out/build/debug/.cmake/api/v1/reply/toolchains-v1-03ce895b705664147f10.json
out/build/debug/.ninja_deps
out/build/debug/.ninja_log
out/build/debug/.qt/QtDeploySupport.cmake
out/build/debug/.qt/QtDeployTargets.cmake
out/build/debug/build.ninja
out/build/debug/cmake_install.cmake
out/build/debug/CMakeCache.txt
out/build/debug/CMakeFiles/3.31.6-msvc6/CMakeCXXCompiler.cmake
out/build/debug/CMakeFiles/3.31.6-msvc6/CMakeDetermineCompilerABI_CXX.bin
out/build/debug/CMakeFiles/3.31.6-msvc6/CMakeRCCompiler.cmake
out/build/debug/CMakeFiles/3.31.6-msvc6/CMakeSystem.cmake
out/build/debug/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/debug/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/debug/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/debug/CMakeFiles/4.2.0/CMakeCXXCompiler.cmake
out/build/debug/CMakeFiles/4.2.0/CMakeRCCompiler.cmake
out/build/debug/CMakeFiles/4.2.0/CMakeSystem.cmake
out/build/debug/CMakeFiles/4.2.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/debug/CMakeFiles/4.2.0/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/debug/CMakeFiles/clean_additional.cmake
out/build/debug/CMakeFiles/cmake.check_cache
out/build/debug/CMakeFiles/CMakeConfigureLog.yaml
out/build/debug/CMakeFiles/GXTStudio.dir/CodeTableConverter.cpp.obj
out/build/debug/CMakeFiles/GXTStudio.dir/embed.manifest
out/build/debug/CMakeFiles/GXTStudio.dir/FileManager.cpp.obj
out/build/debug/CMakeFiles/GXTStudio.dir/GXTEditor.cpp.obj
out/build/debug/CMakeFiles/GXTStudio.dir/GXTParser.cpp.obj
out/build/debug/CMakeFiles/GXTStudio.dir/GXTStudio.cpp.obj
out/build/debug/CMakeFiles/GXTStudio.dir/GXTStudio_autogen/EWIEGA46WW/qrc_resources.cpp.obj
out/build/debug/CMakeFiles/GXTStudio.dir/GXTStudio_autogen/mocs_compilation.cpp.obj
out/build/debug/CMakeFiles/GXTStudio.dir/GXTStudioThreading.cpp.obj
out/build/debug/CMakeFiles/GXTStudio.dir/GXTTableModel.cpp.obj
out/build/debug/CMakeFiles/GXTStudio.dir/intermediate.manifest
out/build/debug/CMakeFiles/GXTStudio.dir/main.cpp.obj
out/build/debug/CMakeFiles/GXTStudio.dir/manifest.rc
out/build/debug/CMakeFiles/GXTStudio.dir/manifest.res
out/build/debug/CMakeFiles/GXTStudio.dir/OptimizedItemDelegate.cpp.obj
out/build/debug/CMakeFiles/GXTStudio.dir/ProgressDialog.cpp.obj
out/build/debug/CMakeFiles/GXTStudio.dir/SearchManager.cpp.obj
out/build/debug/CMakeFiles/GXTStudio.dir/SmartTranslator.cpp.obj
out/build/debug/CMakeFiles/GXTStudio.dir/TableManager.cpp.obj
out/build/debug/CMakeFiles/GXTStudio.dir/TextRenderWidget.cpp.obj
out/build/debug/CMakeFiles/GXTStudio.dir/TranslateConfigDialog.cpp.obj
out/build/debug/CMakeFiles/GXTStudio.dir/TranslateWorker.cpp.obj
out/build/debug/CMakeFiles/GXTStudio.dir/vc140.pdb
out/build/debug/CMakeFiles/GXTStudio_autogen.dir/AutogenInfo.json
out/build/debug/CMakeFiles/GXTStudio_autogen.dir/AutogenUsed.txt
out/build/debug/CMakeFiles/GXTStudio_autogen.dir/AutoRcc_resources_EWIEGA46WW_Info.json
out/build/debug/CMakeFiles/GXTStudio_autogen.dir/AutoRcc_resources_EWIEGA46WW_Lock.lock
out/build/debug/CMakeFiles/GXTStudio_autogen.dir/AutoRcc_resources_EWIEGA46WW_Used.txt
out/build/debug/CMakeFiles/GXTStudio_autogen.dir/ParseCache.txt
out/build/debug/CMakeFiles/rules.ninja
out/build/debug/CMakeFiles/ShowIncludes/foo.h
out/build/debug/CMakeFiles/ShowIncludes/main.c
out/build/debug/CMakeFiles/ShowIncludes/main.obj
out/build/debug/CMakeFiles/TargetDirectories.txt
out/build/debug/font/alte-din-1451-mittelschrift.regular.ttf
out/build/debug/font/Font Awesome 7 Brands-Regular-400.otf
out/build/debug/font/Font Awesome 7 Free-Regular-400.otf
out/build/debug/font/Font Awesome 7 Free-Solid-900.otf
out/build/debug/font/FuturaLT-Bold.ttf
out/build/debug/font/Twentieth-Century-Bold.ttf
out/build/debug/font/ViceCitySans.otf
out/build/debug/font/微软简综艺.ttf
out/build/debug/GXTStudio.exe
out/build/debug/GXTStudio.ilk
out/build/debug/GXTStudio.pdb
out/build/debug/GXTStudio_autogen/deps
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_CodeTableConverter.cpp
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_CodeTableConverter.cpp.d
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_FileManager.cpp
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_FileManager.cpp.d
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_GXTStudio.cpp
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_GXTStudio.cpp.d
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_GXTTableModel.cpp
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_GXTTableModel.cpp.d
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_OptimizedItemDelegate.cpp
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_OptimizedItemDelegate.cpp.d
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_OptimizedListItemDelegate.cpp
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_OptimizedListItemDelegate.cpp.d
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_ProgressDialog.cpp
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_ProgressDialog.cpp.d
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_SearchManager.cpp
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_SearchManager.cpp.d
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_SmartTranslator.cpp
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_SmartTranslator.cpp.d
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_TableManager.cpp
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_TableManager.cpp.d
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_TextRenderWidget.cpp
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_TextRenderWidget.cpp.d
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_TranslateConfigDialog.cpp
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_TranslateConfigDialog.cpp.d
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_TranslateWorker.cpp
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_TranslateWorker.cpp.d
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_TranslationManager.cpp
out/build/debug/GXTStudio_autogen/EWIEGA46WW/moc_TranslationManager.cpp.d
out/build/debug/GXTStudio_autogen/EWIEGA46WW/qrc_resources.cpp
out/build/debug/GXTStudio_autogen/include/GXTStudio.moc
out/build/debug/GXTStudio_autogen/include/GXTStudio.moc.d
out/build/debug/GXTStudio_autogen/include/ui_GXTStudio.h
out/build/debug/GXTStudio_autogen/mocs_compilation.cpp
out/build/debug/GXTStudio_autogen/timestamp
out/build/debug/Testing/Temporary/LastTest.log
out/build/debug/VSInheritEnvironments.txt
out/build/release/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/release/.cmake/api/v1/reply/cache-v2-cd076e64e2fdc7500e80.json
out/build/release/.cmake/api/v1/reply/cmakeFiles-v1-c30ad7bda3005dd62aec.json
out/build/release/.cmake/api/v1/reply/codemodel-v2-5253f97222b6de7ecac4.json
out/build/release/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
out/build/release/.cmake/api/v1/reply/index-2025-12-21T11-45-09-0216.json
out/build/release/.cmake/api/v1/reply/target-GXTStudio-Release-62daaeda74b416bfdf3c.json
out/build/release/.cmake/api/v1/reply/target-GXTStudio_autogen-Release-42cd00e052349bc618d0.json
out/build/release/.cmake/api/v1/reply/target-GXTStudio_autogen_timestamp_deps-Release-b8deeb31e669d8b1f5ca.json
out/build/release/.cmake/api/v1/reply/toolchains-v1-03ce895b705664147f10.json
out/build/release/.ninja_deps
out/build/release/.ninja_log
out/build/release/.qt/QtDeploySupport.cmake
out/build/release/.qt/QtDeployTargets.cmake
out/build/release/build.ninja
out/build/release/cmake_install.cmake
out/build/release/CMakeCache.txt
out/build/release/CMakeFiles/3.31.6-msvc6/CMakeCXXCompiler.cmake
out/build/release/CMakeFiles/3.31.6-msvc6/CMakeDetermineCompilerABI_CXX.bin
out/build/release/CMakeFiles/3.31.6-msvc6/CMakeRCCompiler.cmake
out/build/release/CMakeFiles/3.31.6-msvc6/CMakeSystem.cmake
out/build/release/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/release/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/release/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/release/CMakeFiles/clean_additional.cmake
out/build/release/CMakeFiles/cmake.check_cache
out/build/release/CMakeFiles/CMakeConfigureLog.yaml
out/build/release/CMakeFiles/GXTStudio.dir/GXTEditor.cpp.obj
out/build/release/CMakeFiles/GXTStudio.dir/GXTParser.cpp.obj
out/build/release/CMakeFiles/GXTStudio.dir/GXTStudio.cpp.obj
out/build/release/CMakeFiles/GXTStudio.dir/GXTStudio_autogen/mocs_compilation.cpp.obj
out/build/release/CMakeFiles/GXTStudio.dir/main.cpp.obj
out/build/release/CMakeFiles/GXTStudio_autogen.dir/AutogenInfo.json
out/build/release/CMakeFiles/GXTStudio_autogen.dir/AutogenUsed.txt
out/build/release/CMakeFiles/GXTStudio_autogen.dir/ParseCache.txt
out/build/release/CMakeFiles/rules.ninja
out/build/release/CMakeFiles/ShowIncludes/foo.h
out/build/release/CMakeFiles/ShowIncludes/main.c
out/build/release/CMakeFiles/ShowIncludes/main.obj
out/build/release/CMakeFiles/TargetDirectories.txt
out/build/release/D3Dcompiler_47.dll
out/build/release/generic/qtuiotouchplugin.dll
out/build/release/GXTStudio.exe
out/build/release/GXTStudio_autogen/deps
out/build/release/GXTStudio_autogen/EWIEGA46WW/moc_GXTStudio.cpp
out/build/release/GXTStudio_autogen/EWIEGA46WW/moc_GXTStudio.cpp.d
out/build/release/GXTStudio_autogen/include/ui_GXTStudio.h
out/build/release/GXTStudio_autogen/mocs_compilation.cpp
out/build/release/GXTStudio_autogen/timestamp
out/build/release/iconengines/qsvgicon.dll
out/build/release/icuuc.dll
out/build/release/imageformats/qgif.dll
out/build/release/imageformats/qico.dll
out/build/release/imageformats/qjpeg.dll
out/build/release/imageformats/qsvg.dll
out/build/release/networkinformation/qnetworklistmanager.dll
out/build/release/opengl32sw.dll
out/build/release/platforms/qwindows.dll
out/build/release/Qt6Core.dll
out/build/release/Qt6Gui.dll
out/build/release/Qt6Network.dll
out/build/release/Qt6Svg.dll
out/build/release/Qt6Widgets.dll
out/build/release/styles/qmodernwindowsstyle.dll
out/build/release/Testing/Temporary/LastTest.log
out/build/release/tls/qcertonlybackend.dll
out/build/release/tls/qschannelbackend.dll
out/build/release/translations/qt_ar.qm
out/build/release/translations/qt_bg.qm
out/build/release/translations/qt_ca.qm
out/build/release/translations/qt_cs.qm
out/build/release/translations/qt_da.qm
out/build/release/translations/qt_de.qm
out/build/release/translations/qt_en.qm
out/build/release/translations/qt_es.qm
out/build/release/translations/qt_fa.qm
out/build/release/translations/qt_fi.qm
out/build/release/translations/qt_fr.qm
out/build/release/translations/qt_gd.qm
out/build/release/translations/qt_he.qm
out/build/release/translations/qt_hr.qm
out/build/release/translations/qt_hu.qm
out/build/release/translations/qt_it.qm
out/build/release/translations/qt_ja.qm
out/build/release/translations/qt_ka.qm
out/build/release/translations/qt_ko.qm
out/build/release/translations/qt_lg.qm
out/build/release/translations/qt_lv.qm
out/build/release/translations/qt_nl.qm
out/build/release/translations/qt_nn.qm
out/build/release/translations/qt_pl.qm
out/build/release/translations/qt_pt_BR.qm
out/build/release/translations/qt_ru.qm
out/build/release/translations/qt_sk.qm
out/build/release/translations/qt_sv.qm
out/build/release/translations/qt_tr.qm
out/build/release/translations/qt_uk.qm
out/build/release/translations/qt_zh_CN.qm
out/build/release/translations/qt_zh_TW.qm
out/build/release/VSInheritEnvironments.txt
.vscode/c_cpp_properties.json
.vscode/settings.json
.vs/GXTStudio/FileContentIndex/ec16d14c-4417-45d4-8693-92b94f86ebc5.vsidx
.vs/GXTStudio/FileContentIndex/467825c3-69b3-4fcb-9511-2604f4f466e6.vsidx
